body {
	background-color: yellow;
}
button {
	opacity:0.8;
	color: #000;
}
button:hover {
	opacity:1;
	background-color:#E4E3CF;
	border: 1px solid #000;
	border-radius: 25px;
	color: #000;
	width:6em;
	height:2em; 
}
#rs {
	margin: 3em;
}
#lk {
	text-decoration: none;
}
.one {
	background-color:#FCFAF1;
}
.one:hover {
	border-left:3px solid #000;
}
h3 {
	color:black;
	padding-left:1em;
	padding-top:0.4em;
}
#pid {
	color:#000000;
	padding:0.5em 2em;
}
hr {
	border:2px solid #fff;
	margin:0px;
}
footer a {
	text-decoration: none;
}
