body {
	background-color: yellow;
}
button {
	opacity:0.8;
	color: #000;
}
button:hover {
	opacity:1;
	background-color:#E4E3CF;
	border: 1px solid #000;
	border-radius: 25px;
	color: #000;
	width:6em;
	height:2em; 
}
hr {
	border:2px solid #fff;
	margin:0px;
}
footer a {
	text-decoration: none;
}
